<%= form_for(@baby) do |f| %>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>

    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>

    <%= f.label :weight %><br>
    <%= f.text_field :weight %><br>

    <%= f.label :birth_date %><br>
    <%= f.text_field :birth_date %><br>
</div>

<div>
  <%= f.submit%><br>
</div>
<% end %>